extends ./local.pug
block content
    h1
        | ScoreKeeper
    hr
    form(action='/add-player', method='post')
        .form-group
            input#player1.form-control(type='text', name='player1', placeholder='Player1Name',required="")
        .form-group
            input#player2.form-control(type='text', name='player2', placeholder='Player2Name',required="")
        .form-group
            input#player4.form-control(type='text', name='player3', placeholder='Player3Name',required="")
        .form-group
            input#player4.form-control(type='text', name='player4', placeholder='Player4Name',required="")
        .mt-3.d-flex.justify-content-center
            button.btn.btn-primary.mt-5(type='submit') Create a game
