extends ./local.pug
block content
    h1 Score Keeper
    hr
    session
        table.table
            thead
            tr
                th(scope='col') 
                th(scope='col') Player1
                th(scope='col') Player2
                th(scope='col') Player3
                th(scope='col') Player4
            tr
                th(scope='col') Total score
                th(scope='col') 12
                th(scope='col') 1231
                th(scope='col') 1314
                th(scope='col') 23142
            tbody
            tr
                th(scope='row') 1
                td 
                    input(type="number")
                td 
                    input(type="number")
                td 
                    input(type="number")
                td 
                    input(type="number")

            tr
                th(scope='row') 2
                td 
                    input(type="number")
                td 
                    input(type="number")
                td 
                    input(type="number")
                td 
                    input(type="number")
            tr
                th(scope='row') 3
                td 
                    input(type="number")
                td 
                    input(type="number")
                td 
                    input(type="number")
                td 
                    input(type="number")
        div.text-center
            button.btn.btn-danger Add round




